/*
A HTML törzsében legyen (a szöveggel együtt gördülő) háttérkép (lehetőleg ne legyen túl sötét kép),
mely az x és y tengely mentén egyaránt ismétlődik.
*/
.background{
    background-image: url("background.jpg");
    background-repeat: repeat;
}

/*
Elemtípusra vonatkozó szelektorok (osztály/ID nélkül) segítségével oldjuk meg, hogy a főcím (h1) és
alcím (h2) színe, háttérszíne, betű-típus családja legyen egyforma.
*/
h1,h2{
    color:chocolate;
    background-color:blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}

/*
Definiáljunk (és használjunk a HTML oldalon) két különböző stílusú (sorszám nélküli) listát. Használjunk
olyan szelektort, ami az elemtípus és az osztályra is megkötést tesz.
*/
ul.lista1{
    color: darkred;
    font-display: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul.lista2{
    color: darkgreen;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

/*
Általános stílusosztály (osztály, mely nincs ráhúzva egy elemtípusra) segítségével oldjuk meg, hogy
különböző HTML elemek stílusa (szín, betűméret, szöveg-igazítása, szöveg-díszítése) ugyanaz legyen.
Alkalmazzuk ugyanazt a stílusosztályt az em és p elemekre.
*/
.altalanos_stilus{
    color: crimson;
    font-size: large;
    font-style: oblique;
    text-align: justify;
}

/*
Adjuk meg (kontextussal megadott szelektort használva) egy nav elemben elhelyezkedő div elem stílusát
(kerekített szegély, szövegméret).
*/
#nav-id{
    border-radius: 15px;
    border-style: solid;
    font-size: 18px;
    border-color: gold;
    height: 100px;
}

/*
Definiáljunk két különböző hivatkozás (link) típust, melyeknek más és más a színe, szövegdíszítése
ha rámegyünk az egérrel, ha aktív, ha már meglátogattuk.
*/
a.link1{
    color: chartreuse;
}

a.link1:hover{
    color: blueviolet;
    font-size: 20px;
}

a.link1:active{
    color: brown;
}

a.link1:visited{
    color: darkmagenta;
    text-decoration: line-through;
}

a.link2{
    color: orange;
}

a.link2:hover{
    color: orange;
    background-color: aliceblue;
    font-size: 20px;
}

a.link2:active{
    color: rebeccapurple;
}

a.link2:visited{
    color: cornflowerblue;
    text-decoration: underline;
}

/*
Definiáljunk egy olyan div stílust, mely be van keretezve szaggatott vonallal. A szöveg legyen balra
tolódva a kereten belül (a jobboldali behúzás–padding–legyen nagyobb). A keret elemei (alsó, felső,
stb. rész) legyenek más-más színűek.
*/
.keretezett{
    border-color: red green blue orange;
    border-style: dashed;
    padding-right: 75%;
}

/*
Definiáljuk a táblázat esetén két különböző cella-stílust (a két stílus pepita -lásd sakktábla- minta
szerint váltakozzon). Ne használjunk osztályokat, a HTML-be ne kelljen kézzel jelölőket írni a cellákhoz.
*/
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd), th:nth-child(odd){
    background-color:blanchedalmond;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even), th:nth-child(even){
    background-color:aquamarine;
}

/*
Rajzoljunk különböző színű téglalapokból díjkiosztó pódiumot (1., 2., 3 helyezés vagy arany-, ezüst-,
bronzérem felirattal)
*/
.podium{
    display: flex;
    padding-left: 1.5%;
    margin-top: 50px;
    align-items: flex-end;
}

.gold{
    height: 70px;
    width:50px;
    background-color: gold;
    text-align: center;
}

.silver{
    height: 60px;
    width:50px;
    background-color: silver;
    text-align: center;
}

.bronze{
    height: 50px;
    width:50px;
    background-color: burlywood;
    text-align: center;
}

/*
CSS3 átmenetek (transition) segítségével oldjuk meg, hogy a téglalapok mérete változzon amennyiben
fölé visszük a kurzort. Ne egyből változzon ez a tulajdonság, hanem graduálisan 2 másodperc
folyamán.
*/
.gold:hover{
    height: 150px;
    transition: 2s;
}

.silver:hover{
    height: 120px;
    transition: 2s;
}

.bronze:hover{
    height: 90px;
    transition: 2s;
}